@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



/*  Basic Layout Structure */

body {
  background-color: rgb(245,245,245)
}


/*  Museum Card formatting */

.museumCard {

  padding: 20px;

}

.className{

}
.card.horizontal .card-image img {
    border-radius: 2px 0px 0px 2px;
    max-width: 100%;
    width: 400px;
    height: 300px;
}

div.card-content {
  /* text-align: center; */
  padding: 0 0 0 10px;
}

.galleryCardInfo {
  color: black;
  padding: 20px 0 0 5px;
  font-size: 20px;
}

.museumList {
  padding: 15px;
}

/* center */

.center {
  justify-content: center;
  text-align: center;
}

/* footer css */

.footer-block {
  margin-top: 10px;
  border-top: 1px solid rgb(225,225,225);
  padding-left: 20px;
  padding-right: 20px;
}

.footer p {
  display: block;
  margin-top: 20px;
  color: rgb(150,150,150);
}

/* Gallery text */
.galleryText {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.text {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
}

.padcard{
  padding-left: 20px;
  padding-right: 20px;
}
